@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    padding: 12%;
}

h1 {
    text-align: center;
}

.card {
    padding: 3%;
}

.container {
    width: 50%;
    height: max-content;
}

#bankLogo {
    padding: 5%;
    max-height: 150px; //почему то, не могу выставить максимальную высоту в процентах, всегда ставится высота изображения
}